<div class="__container __border">
  <div class="__large h-100 __border">
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
  </div>
  <div class="__middle h-100 __border">
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
    <div class="__block __border h-50"></div>
  </div>
  <div class="__instruments h-100">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad architecto consectetur debitis, eius facilis ipsam libero minima minus necessitatibus nobis, numquam obcaecati possimus praesentium quae quas rerum similique totam!</p>
  </div>
</div>

